In [1]:
import os
import pandas as pd
from pandas_profiling import ProfileReport
from src.utils.common_utils import read_params

In [5]:
#os.getcwd()
#os.chdir("..")
os.getcwd()
config=read_params(os.path.join(os.getcwd(),"params.yaml"))
config

{'base': {'project': 'crime analysis project'},
 'data_source': {'s3_source': 'https://aiopsdeeplearning.s3.amazonaws.com/Legacy_Baton_Rouge_Crime_Incidents.csv'},
 'artifacts': {'artifacts_dir': 'artifacts',
  'raw_local_data_dir': 'artifacts/raw_local_data_dir',
  'raw_local_data': 'artifacts/raw_local_data_dir/data.csv'}}

In [6]:
raw_local_data=config['artifacts']['raw_local_data']
raw_local_data

'artifacts/raw_local_data_dir/data.csv'

In [7]:
df= pd.read_csv(raw_local_data, sep=',')
df.head()

d:\iNeuron\Data Analysis\crime_analysis\env\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FILE_NUMBER,OFFENSE_DATE,OFFENSE_TIME,CRIME,COMMITTED,OFFENSE,OFFENSE_DESCRIPTION,FULL_ADDRESS,ADDRESS_NUMBER,STREET_DIRECTION,...,CITY,STATE,ZIP_CODE,DISTRICT,ZONE,SUBZONE,COMPLETE_DISTRICT,COUNCIL_DISTRICT,CRIME_PREVENTION_DISTRICT,GEOLOCATION
0,NaN,04/11/2020,1645,SEXUAL ASSAULT,COMMITTED,14:43.1,BATT/SEXUAL,NaN,NaN,NaN,...,NaN,NaN,70802.0,2,C,1,2C1,10.0,NONE,NaN
1,NaN,10/28/2019,2248,JUVENILE,COMMITTED,14:81,IND BEHAVIOR W/JUV,NaN,NaN,NaN,...,NaN,NaN,70807.0,4,B,3,4B3,2.0,NONE,NaN
2,NaN,11/05/2019,537,SEXUAL ASSAULT,COMMITTED,14:43.1,BATT/SEXUAL,NaN,NaN,NaN,...,NaN,NaN,70802.0,1,A,1,1A1,10.0,NONE,NaN
3,NaN,11/09/2019,2345,SEXUAL ASSAULT,ATTEMPTED,14:42.1/B,RAPE/ATT FORCIBLE,NaN,NaN,NaN,...,NaN,NaN,70816.0,3,E,5,3E5,8.0,NONE,NaN
4,NaN,03/14/2020,1657,JUVENILE,COMMITTED,14:81,IND BEHAVIOR W/JUV,NaN,NaN,NaN,...,NaN,NaN,70805.0,NaN,NaN,NaN,NaN,7.0,NONE,NaN

In [8]:
profile = ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

d:\iNeuron\Data Analysis\crime_analysis\env\lib\site-packages\scipy\stats\stats.py:4812: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [13]:
df.dtypes

FILE_NUMBER                  float64
OFFENSE_DATE                  object
OFFENSE_TIME                  object
CRIME                         object
COMMITTED                     object
OFFENSE                       object
OFFENSE_DESCRIPTION           object
FULL_ADDRESS                  object
ADDRESS_NUMBER               float64
STREET_DIRECTION              object
STREET_NAME                   object
STREET_TYPE                   object
CITY                          object
STATE                         object
ZIP_CODE                     float64
DISTRICT                      object
ZONE                          object
SUBZONE                       object
COMPLETE_DISTRICT             object
COUNCIL_DISTRICT             float64
CRIME_PREVENTION_DISTRICT     object
GEOLOCATION                   object
dtype: object